{% extends 'base_home.html' %}
{% load static %}

{% block titulo %}
    
{% endblock titulo %}

{% block cuerpo %}
{% include 'Left_column.html' %}
<div class="templatemo-content col-1 light-gray-bg">
    <div class="templatemo-content-container">
        <div class="templatemo-content-widget white-bg">
            <form method="post"> {% csrf_token %}

                <h2>Confirme que desea eliminar</p></h2>

                <button type="submit" class="templatemo-blue-button"> Confirmar </button> 
            </form>

{% endblock cuerpo %}   